In [328]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import datetime as dt
from sklearn.pipeline import make_pipeline

In [329]:
PATH = f'F:\hackatone'
data = pd.read_csv(PATH+'\sp_sales_tasktrain.csv')
test_real = pd.read_csv(PATH+'\sp_sales_tasktest.csv').drop('Unnamed: 0', axis=1)
submission = pd.read_csv(PATH+'\submission.csv')

In [330]:
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')

# PREPROCESSING

## 1st step

### Словари кластеров и товаров

In [331]:
# маркеры магазинов
stores = pd.read_csv(PATH+'\sp_sales_taskshops_after_eda.csv')
stores = stores[['st_id', 'st_markers']]
stores_dict = dict(zip(stores.values[:,0], stores.values[:,1]))

In [332]:
# словари товаров
skus = pd.read_csv(PATH+'\sp_sales_tasksku_after_eda.csv')
skus = skus[['pr_sku_id', 'sku_markers']]
skus_dict = dict(zip(skus.values[:,0], skus.values[:,1]))

In [333]:
# словарь самых продаваемых товаров
best_items = data.loc[data['daily_sells'] == 1, 'pr_sku_id'].unique()
best_items_dict = dict(zip(best_items, [1]*len(best_items)))

### Применение словарей

In [334]:
# доабавляем таргет и дропаем две колонки, из которых он поулчается
def get_target(df):
    
    df['pr_without_promo_sales_in_units'] = df['pr_sales_in_units'] - df['pr_promo_sales_in_units']
    df = df.drop(['pr_sales_in_units', 'pr_promo_sales_in_units'], axis=1)
    
    return df

In [335]:
# лучшие продажи
def get_daily_sells(sku_id):
    # если id товара есть в словаре, вернет 1, иначе 0
    result = best_items_dict.get(sku_id, 0)
    return result

In [336]:
# добавляем мааркеры магазинов
def get_stores_markers(st_id):
    # если магазин не известен, вернет -1
    result = stores_dict.get(st_id, -1)
    return result

In [337]:
# добавляем маркеры товаров
def get_skus_markers(pr_sku_id):
    # если товар не известен, вернет -1
    result = skus_dict.get(pr_sku_id, -1)
    return result

Применяем к тесту данные преобразования

In [338]:
test_real = get_target(test_real)
test_real['daily_sells'] = test_real['pr_sku_id'].apply(get_daily_sells)
test_real['st_markers'] = test_real['st_id'].apply(get_stores_markers)
test_real['sku_markers'] = test_real['pr_sku_id'].apply(get_skus_markers)

In [339]:
test = test_real[[
    'date', 'st_id', 'pr_uom_id', 'pr_sku_id', 'is_holiday', 'daily_sells',
    'st_markers', 'sku_markers', 'pr_without_promo_sales_in_units'
]]

In [340]:
# переводим признак шт/кг к бинарному виду
def convert_weight(value):
    return 1 if value == 1 else 0

test['pr_uom_id'] = test['pr_uom_id'].apply(convert_weight)

C:\Users\cripe\AppData\Local\Temp\ipykernel_18436\2717950955.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['pr_uom_id'] = test['pr_uom_id'].apply(convert_weight)

## 2nd step

Создание словаря с хэшированием сочетаний магазин-товар на основе среднего

In [341]:
# создание общего ключа
def convert_to_st_sku_id(dataframe: pd.core.frame.DataFrame, 
                         st_id: str, sku_id: str, 
                         col_name='st_sku', drop=True) -> pd.core.frame.DataFrame:
    # создание общего ключа
    dataframe[col_name] = dataframe[st_id] + '_' + dataframe[sku_id]
    dataframe = dataframe.drop([st_id, sku_id], axis=1)
    
    return dataframe

In [342]:
# Hash
def create_st_sku_hash_table(dataframe: pd.core.frame.DataFrame, 
                             key_col: str, target: str) -> dict:
    temp_table = dataframe.groupby(key_col)[target].agg(values='mean').reset_index()
    hash_map = dict(zip(temp_table[key_col], temp_table['values']))
    return  hash_map

In [343]:
# создаем общий id по магазин-товар
data = convert_to_st_sku_id(data, st_id='st_id', 
                            sku_id='pr_sku_id', col_name='st_sku')

In [344]:
# применяет также к тесту
test = convert_to_st_sku_id(test, st_id='st_id', 
                            sku_id='pr_sku_id', col_name='st_sku')

C:\Users\cripe\AppData\Local\Temp\ipykernel_18436\4064956755.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[col_name] = dataframe[st_id] + '_' + dataframe[sku_id]

In [345]:
# создаем словарь {магазин-товар: хэш по среднему}
h_map = create_st_sku_hash_table(data, key_col='st_sku', target='pr_without_promo_sales_in_units')

In [346]:
# применяем словарь к тесту
test['st_sku_hash'] = test['st_sku'].apply(lambda x: h_map.get(x, -1))

In [347]:
test.sample(3)

,date,pr_uom_id,is_holiday,daily_sells,st_markers,sku_markers,pr_without_promo_sales_in_units,st_sku,st_sku_hash
9633,2023-07-14,1,0,1,1,0,5.0,16a5cdae362b8d27a1d8f8c7b78b4330_9fa87786d9a88...,2.682927
33118,2023-07-06,1,0,0,1,0,0.0,42a0e188f5033bc65bf8d78622277c4e_d0f9afe9074ba...,0.183432
44591,2023-07-14,1,0,0,1,0,0.0,6364d3f0f495b6ab9dcf8d3b5c6e0b01_7d5b06d1b8492...,0.328530

## 3rd step

Временные признаки

In [348]:
def data_converter(dataframe, column, value_types=['day']):
    
    """
    Функция принимает на вход датафрейм, имя колонки с датой, список создаваемых признаков
    :: dataframe - pandas dataframe
    :: column - столбцец с датой формата "YYYY-mm-dd"
    :: value_types - значения (day, dow(day of week), dow(day of year), week, month, year)
    
    ::Return - pandas dataframe с новыми колонками
    """
    if dataframe[column].dtype == 'O':
        dataframe[column] = pd.to_datetime(dataframe[column], format='%Y-%m-%d')
        

    for value_type in value_types:
        if value_type == 'day':
            dataframe['day_sin'] = np.sin(2 * np.pi * dataframe[column].dt.day / dataframe[column].dt.days_in_month)
            dataframe['day_cos'] = np.cos(2 * np.pi * dataframe[column].dt.day / dataframe[column].dt.days_in_month)
        elif value_type == 'dow':
            dataframe[f'dow_sin'] = np.sin(2 * np.pi * dataframe[column].dt.dayofweek / 7)
            dataframe[f'dow_cos'] = np.cos(2 * np.pi * dataframe[column].dt.dayofweek / 7)
        elif value_type == 'doy':
            dataframe[f'doy_sin'] = np.sin(2 * np.pi * dataframe[column].dt.dayofyear / 365)
            dataframe[f'doy_cos'] = np.cos(2 * np.pi * dataframe[column].dt.dayofyear / 365)
        elif value_type == 'week':
            dataframe[f'week_sin'] = np.sin(2 * np.pi * dataframe[column].dt.week / 52)
            dataframe[f'week_cos'] = np.cos(2 * np.pi * dataframe[column].dt.week / 52) 
        elif value_type == 'month':
            dataframe[f'month_sin'] = np.sin(2 * np.pi * dataframe[column].dt.month / 12)
            dataframe[f'month_cos'] = np.cos(2 * np.pi * dataframe[column].dt.month / 12) 
        elif value_type == 'year':
            dataframe[f'year_number'] = dataframe[column].dt.year // 2020
    
    
    return dataframe

In [349]:
test = data_converter(test, 'date', value_types=['day', 'week', 'month', 'dow'])

C:\Users\cripe\AppData\Local\Temp\ipykernel_18436\4102269436.py:26: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  dataframe[f'week_sin'] = np.sin(2 * np.pi * dataframe[column].dt.week / 52)
C:\Users\cripe\AppData\Local\Temp\ipykernel_18436\4102269436.py:27: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  dataframe[f'week_cos'] = np.cos(2 * np.pi * dataframe[column].dt.week / 52)

In [350]:
test.sample(3)

,date,pr_uom_id,is_holiday,daily_sells,st_markers,sku_markers,pr_without_promo_sales_in_units,st_sku,st_sku_hash,day_sin,day_cos,week_sin,week_cos,month_sin,month_cos,dow_sin,dow_cos
92237,2023-07-04,1,0,0,1,0,0.0,fa7cdfad1a5aaf8370ebeda47a1ff1c3_7a1a352b0ae3f...,0.002967,0.724793,0.688967,-0.120537,-0.992709,-0.5,-0.866025,0.781831,0.623490
75869,2023-07-05,1,0,1,1,0,0.0,f7e6c85504ce6e82442c770f7c8606f0_5781a2637b476...,0.129412,0.848644,0.528964,-0.120537,-0.992709,-0.5,-0.866025,0.974928,-0.222521
49194,2023-07-09,1,0,0,1,0,0.0,6364d3f0f495b6ab9dcf8d3b5c6e0b01_cdc64c929d7b1...,0.230114,0.968077,-0.250653,-0.120537,-0.992709,-0.5,-0.866025,-0.781831,0.623490

## 4th step

Для этого шага нам потребуется объединить трейн и тест, чтобы добавить в тест данные за прошлое время, а именно за последние 30 дней от первой даты теста. В последующем мы будет обращаться к БД по текущей дате запроса - 30 дней

In [351]:
# для удобного разделения
data['what_type'] = 'TRAIN'
test['what_type'] = 'TEST'

In [352]:
def get_data_mart(dataframe, time_col, date:str='2023-12-31', day_ago=30):
    
    #принимает датафрейм, колонку со временем, 
    # дату, от которой нужно отсчитать назад <day_ago> дней
    
    if isinstance(date, str):
        date = dt.datetime.strptime(date, '%Y-%m-%d')
        
    # отнимаем время от даты
    date = date - dt.timedelta(days=day_ago)
    
    #срез данных
    df = dataframe[dataframe[time_col] >= date]
    
    return df

In [353]:
# срез данных
data_mart = get_data_mart(data[['date', 'st_sku', 'pr_without_promo_sales_in_units', 'what_type']], 
          time_col='date', date=test['date'].min())

In [354]:
# получаем общие данные
full_data = pd.concat(
    (data_mart[['date', 'st_sku', 'pr_without_promo_sales_in_units', 'what_type']],
     test[['date', 'st_sku', 'pr_without_promo_sales_in_units', 'what_type']]),
    axis=0).sort_values(['date', 'st_sku'])

In [355]:
full_data

,date,st_sku,pr_without_promo_sales_in_units,what_type
307,2023-06-04,084a8a9aa8cced9175bd07bc44998e75_0376a60d9a7ce...,0.0,TRAIN
644,2023-06-04,084a8a9aa8cced9175bd07bc44998e75_61ede1b712ff3...,0.0,TRAIN
981,2023-06-04,084a8a9aa8cced9175bd07bc44998e75_88feeeb024d3f...,0.0,TRAIN
1318,2023-06-04,084a8a9aa8cced9175bd07bc44998e75_be8d2843456ca...,0.0,TRAIN
1655,2023-06-04,084a8a9aa8cced9175bd07bc44998e75_c2718cfd2edcb...,1.0,TRAIN
...,...,...,...,...
98999,2023-07-18,fa7cdfad1a5aaf8370ebeda47a1ff1c3_fe50ae64d08d4...,0.0,TEST
99015,2023-07-18,fa7cdfad1a5aaf8370ebeda47a1ff1c3_fe5d18ae66503...,0.0,TEST
99030,2023-07-18,fa7cdfad1a5aaf8370ebeda47a1ff1c3_ff1f1e5d27088...,0.0,TEST
99045,2023-07-18,fa7cdfad1a5aaf8370ebeda47a1ff1c3_ff5cb535afe36...,3.0,TEST
99060,2023-07-18,fa7cdfad1a5aaf8370ebeda47a1ff1c3_ff62e7bffaca5...,0.0,TEST

In [356]:
# скользящие признаки
def get_features_dataframe(dataframe, target_column, lags:list,
                           moving_average:list=[],
                           target_log = False
                          ):
    
    for lag in lags:
        dataframe[f'lag_{lag}_day'] = dataframe[target_column].shift(lag, fill_value=-1)
    
    if len(moving_average) > 0:
        for number in moving_average:
            dataframe[f'ewmavg_{number}_day'] = dataframe[target_column].ewm(span=number).mean()
            dataframe[f'mavg_{number}_day'] = dataframe[target_column].rolling(number, center=False).mean()
            dataframe[f'mmin_{number}_day'] = dataframe[target_column].rolling(number, center=False).min()
            dataframe[f'mmax_{number}_day'] = dataframe[target_column].rolling(number, center=False).max()
            dataframe[f'diff_{number}_day'] = dataframe[target_column].diff(number)
    
    return dataframe

In [357]:
# функция для прохода по уникальным id и сбору скользящих
def add_target_features(stock_dataframe, target_col, id_col, 
                        lags:list[int], moving_average:list[int], target_log=True):

    new_train = []
    i = 0
    for uniq_id in tqdm(stock_dataframe[id_col].unique()):

        temp_data = stock_dataframe[stock_dataframe[id_col]==uniq_id]
        
        if target_log:
            temp_data[target_col] = np.log1p(temp_data[target_col])
        
        temp_data = get_features_dataframe(temp_data,
                                           target_col,
                                           lags=lags,
                                           moving_average=moving_average,
                                           target_log=target_log)
        

        new_train.append(temp_data)
    
    new_train = pd.concat(new_train)
    return new_train

In [358]:
full_data

,date,st_sku,pr_without_promo_sales_in_units,what_type
307,2023-06-04,084a8a9aa8cced9175bd07bc44998e75_0376a60d9a7ce...,0.0,TRAIN
644,2023-06-04,084a8a9aa8cced9175bd07bc44998e75_61ede1b712ff3...,0.0,TRAIN
981,2023-06-04,084a8a9aa8cced9175bd07bc44998e75_88feeeb024d3f...,0.0,TRAIN
1318,2023-06-04,084a8a9aa8cced9175bd07bc44998e75_be8d2843456ca...,0.0,TRAIN
1655,2023-06-04,084a8a9aa8cced9175bd07bc44998e75_c2718cfd2edcb...,1.0,TRAIN
...,...,...,...,...
98999,2023-07-18,fa7cdfad1a5aaf8370ebeda47a1ff1c3_fe50ae64d08d4...,0.0,TEST
99015,2023-07-18,fa7cdfad1a5aaf8370ebeda47a1ff1c3_fe5d18ae66503...,0.0,TEST
99030,2023-07-18,fa7cdfad1a5aaf8370ebeda47a1ff1c3_ff1f1e5d27088...,0.0,TEST
99045,2023-07-18,fa7cdfad1a5aaf8370ebeda47a1ff1c3_ff5cb535afe36...,3.0,TEST
99060,2023-07-18,fa7cdfad1a5aaf8370ebeda47a1ff1c3_ff62e7bffaca5...,0.0,TEST

In [359]:
# запускаем функцию
full_data = add_target_features(full_data,
                          target_col = 'pr_without_promo_sales_in_units',
                          id_col = 'st_sku',
                          lags = [1,2,7,14,30],
                          moving_average = [7, 14],
                          target_log = True
                         )

  0%|                                                                                         | 0/6130 [00:00<?, ?it/s]C:\Users\cripe\AppData\Local\Temp\ipykernel_18436\3808923019.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_data[target_col] = np.log1p(temp_data[target_col])
C:\Users\cripe\AppData\Local\Temp\ipykernel_18436\1883583633.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[f'lag_{lag}_day'] = dataframe[target_column].shift(lag, fill_value=-1)
C:\Users\cripe\AppData\Local\Temp\ipykernel_18436\1883583633.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[f'mavg_{number}_day'] = dataframe[target_column].rolling(number, center=False).mean()
C:\Users\cripe\AppData\Local\Temp\ipykernel_18436\1883583633.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[f'mmin_{number}_day'] = dataframe[target_column].rolling(number, center=False).min()
C:\Users\cripe\AppData\Local\Temp\ipykernel_18436\1883583633.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[f'mmax_{number}_day'] = dataframe[target_column].rolling(number, center=False).max()
C:\Users\cripe\AppData\Local\Temp\ipykernel_18436\1883583633.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[f'diff_{number}_day'] = dataframe[target_column].diff(number)
100%|██████████████████████████████████████████████████████████████████████████████| 6130/6130 [03:30<00:00, 29.15it/s]

In [360]:
# забираем данные только для теста
test_data = full_data[full_data['what_type'] == 'TEST']

In [362]:
# объединяем с тестом полученные данные
test = test.merge(test_data, how='left', on=['date', 'st_sku', 'pr_without_promo_sales_in_units', 'what_type'])

In [369]:
test = test.drop('what_type', axis=1)

## 5th step

На обучении было установлено, какие признаки не влияют на результаты обучения. Отбросим их и оставим только значимые

In [370]:
useless_features = ['year', 'st_type_format_id', 'week_sin', 'month_cos', 'mavg_7_day', 'mmax_7_day',
            'ewmavg_14_day', 'mavg_14_day', 'mmax_14_day', 'ewmavg_30_day', 'mavg_30_day']

In [371]:
useful_features = set(test.columns) - set(useless_features)

In [386]:
test[useful_features]

,week_cos,mmin_14_day,lag_30_day,st_markers,lag_1_day,sku_markers,pr_without_promo_sales_in_units,lag_2_day,month_sin,ewmavg_7_day,...,pr_uom_id,diff_14_day,day_sin,date,day_cos,daily_sells,diff_7_day,dow_sin,st_sku_hash,st_sku
0,-0.992709,0.0,0.000000,0,0.0,0,0.0,0.0,-0.5,0.057270,...,0,-0.693147,0.724793,2023-07-04,0.688967,0,0.000000,0.781831,0.017804,084a8a9aa8cced9175bd07bc44998e75_0376a60d9a7ce...
1,-0.992709,0.0,0.693147,0,0.0,0,0.0,0.0,-0.5,0.042951,...,0,0.000000,0.848644,2023-07-05,0.528964,0,0.000000,0.974928,0.017804,084a8a9aa8cced9175bd07bc44998e75_0376a60d9a7ce...
2,-0.992709,0.0,0.000000,0,0.0,0,0.0,0.0,-0.5,0.032212,...,0,0.000000,0.937752,2023-07-06,0.347305,0,-0.693147,0.433884,0.017804,084a8a9aa8cced9175bd07bc44998e75_0376a60d9a7ce...
3,-0.992709,0.0,0.000000,0,0.0,0,0.0,0.0,-0.5,0.024159,...,0,0.000000,0.988468,2023-07-07,0.151428,0,0.000000,-0.433884,0.017804,084a8a9aa8cced9175bd07bc44998e75_0376a60d9a7ce...
4,-0.992709,0.0,0.000000,0,0.0,0,0.0,0.0,-0.5,0.018119,...,0,0.000000,0.998717,2023-07-08,-0.050649,0,0.000000,-0.974928,0.017804,084a8a9aa8cced9175bd07bc44998e75_0376a60d9a7ce...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99068,-0.970942,0.0,0.000000,1,0.0,0,0.0,0.0,-0.5,0.000000,...,0,0.000000,0.299363,2023-07-14,-0.954139,0,0.000000,-0.433884,0.766571,fa7cdfad1a5aaf8370ebeda47a1ff1c3_ff62e7bffaca5...
99069,-0.970942,0.0,0.000000,1,0.0,0,0.0,0.0,-0.5,0.000000,...,0,0.000000,0.101168,2023-07-15,-0.994869,0,0.000000,-0.974928,0.766571,fa7cdfad1a5aaf8370ebeda47a1ff1c3_ff62e7bffaca5...
99070,-0.970942,0.0,0.000000,1,0.0,0,0.0,0.0,-0.5,0.000000,...,0,0.000000,-0.101168,2023-07-16,-0.994869,0,0.000000,-0.781831,0.766571,fa7cdfad1a5aaf8370ebeda47a1ff1c3_ff62e7bffaca5...
99071,-0.935016,0.0,0.000000,1,0.0,0,0.0,0.0,-0.5,0.000000,...,0,0.000000,-0.299363,2023-07-17,-0.954139,0,0.000000,0.000000,0.766571,fa7cdfad1a5aaf8370ebeda47a1ff1c3_ff62e7bffaca5...
99072,-0.935016,0.0,0.000000,1,0.0,0,0.0,0.0,-0.5,0.000000,...,0,0.000000,-0.485302,2023-07-18,-0.874347,0,0.000000,0.781831,0.766571,fa7cdfad1a5aaf8370ebeda47a1ff1c3_ff62e7bffaca5...